body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #254A74;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    color: white;
    max-width: 696px;
    max-height: 800px;
    width: auto;
    height: auto;
}

header {
    text-align: center;
}

img {
    max-width: 144px;
    max-height: 184px;
    width: auto;
    height: auto;
}

label {
    display: inline-block;
    width: 10em;
}

input {
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

#d2 {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    max-width: 200px;
    max-height: 184px;
    width: auto;
    height: auto;
}

#botao {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}