body {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #254A74;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: -5px;
    margin: -10px;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    height: 100px;
}

h1 {
    color: white;
    font-size: 5em;
}

#logo {
    max-width: 60px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#fotoUser {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    border-radius: 50%;
}

#perfil {
    height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

#d1 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#p1 {
    margin: -3px;
}

ul {
    list-style: none;
    font-size: 35px;
    position: fixed;
}

li {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

#menu {
    color: black;
    text-decoration: none;
}

#menu:hover {
    text-decoration: underline;
}

#conteudo {
    width: 70em;
    margin: 2em;
    text-align: center;
}

h2 {
    text-decoration: overline;
    text-align: center;
    font-size: 2.5em;
    margin-left: -5em;
}

#box {
    background-color: #92a4b9;
    width: 1096px;
    height: 300px;
    border-radius: 10px;
    margin-right: 5em;
    margin-bottom: 2em;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#p2 {
    color: black;
    font-size: 1em;
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    align-content: space-around;
}

#all {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#pesquisa{
    width: 1121px;
    display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    margin-bottom: 2em;
}

#seletor {
    display: inline;
    width: 231px;
    height: 39px;
    border-radius: 15px;
    background-color: #c9c9c9;
    margin-left: -5em;
    margin-right: -5em;
    padding-bottom: 15px;
}

#bpesquisa {
    width: 39px;
    height: 39px;
    margin-left: -15em;
}

#p3 {
    font-size: 2em;
}

#nota {
    width: 242px;
    height: 53px;
    font-size: 2.5em;
}

#check {
    width: 335px;
    height: 117px;
    resize: none;
}

#botao {
    width: 98px;
    height: 29px;
    font-family: inherit;
    border-radius: 15px;
    background-color: white;
}

#pdf {
    max-width: 381px;
    max-height: 400px;
    width: auto;
    height: auto;
}